{% extends "base.html" %}

{% block extrahead %}
  {% if page.meta and page.meta.tags %}
    <meta name="keywords" content="{% for tag in page.meta.tags %}{{ tag }}, {% endfor %}" />
  {% endif %}
  <meta name="Language" scheme="iso6391" content="en" />
  <meta name="robots" content="index, follow" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3558105154926044"
     crossorigin="anonymous"></script>
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- X14S -->
  <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3558105154926044"
     data-ad-slot="4617905155"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endblock %}