{% extends "base.html" %}

{% block extrahead %}
  {% if page.meta and page.meta.tags %}
    <meta name="keywords" content="{% for tag in page.meta.tags %}{{ tag }}, {% endfor %}" />
  {% endif %}
  <meta name="Language" scheme="iso6391" content="en" />
  <meta name="robots" content="index, follow" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3558105154926044"
     crossorigin="anonymous"></script>
{% endblock %}